In [1]:
import pandas as pd

In [2]:
# Open summary.csv
df = pd.read_csv('summary.csv')

In [3]:
df.describe()

             B10        B100        B1000        S10        S100        S1000
count  30.000000   30.000000    30.000000  30.000000   30.000000    30.000000
mean   11.905222  139.618550  1159.773569  13.384126  130.119867  1642.995011
std     1.576654   10.413811   110.615307   3.593003   34.459012    48.796352
min     9.341147  122.545676  1089.788335   8.031553   89.133126  1580.422122
25%    11.141828  133.700536  1102.118048  10.956549  115.147469  1616.558612
50%    11.713506  137.826330  1111.235949  13.046124  118.194993  1626.950442
75%    12.359936  143.287392  1131.189515  15.122720  123.539136  1655.596844
max    16.844786  162.574878  1444.602703  23.603084  212.387497  1777.352469

In [5]:
# Average Processing Time to Process a Request
avg = (11.905222 / 10) + (139.618550 / 100) + (1159.773569 / 1000) + (13.384126 / 10) + (130.119867 / 100) + (1642.995011 / 1000)
avg = avg / 6
print(avg)

1.3381812583333332